<h1>Items List</h1>

<div class="alert alert-danger" *ngIf="errorMessage">
	<p>
		<strong>Oh snap!</strong>&nbsp;{{ errorMessage }}
	</p>
</div>

<table class="table table-striped">

	<thead>
		<tr>
			<th>Name</th>
			<th>&nbsp;</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let item of items">
			<td>
				<span>{{ item.name }}</span>
			</td>
			<td class="text-right">
				<button (click)="deleteItem(item)" class="btn btn-danger">
					<span class="fa fa-times"></span>
				</button>
			</td>
		</tr>
	</tbody>

	<tfoot>
		<tr>
			<td>
				<input #newItemName class="form-control" type="text" placeholder="New Item..." />
			</td>
			<td>
				<button (click)="addItem(newItemName.value); newItemName.value = ''" class="btn btn-primary">
					<span class="fa fa-plus"></span>
				</button>
			</td>
		</tr>
	</tfoot>

</table>